.detailcontainer {
    display: flex;
    flex-direction: row;
}

.imageDetail {
    width: 30%;
    margin-top: 20px;
    margin-left: 15%;
    border-radius: 10px;
}

.infoContainer {
    margin-top: 30px;
    margin-left: 10%;
}

.buyButtonDetails {
    margin-top: 80px;
    height: 20%;
    width: 100%;
    color: white;
    border-radius: 10px;
    background-color: #333333;
    border: none;
}