.detailcontainer {
    display: flex;
    flex-direction: row;
}

.addAmountText {
  color: white;
}

.imageDetail {
    width: 30%;
    margin-top: 20px;
    margin-left: 15%;
    border-radius: 10px;
}

.infoContainer {
    margin-top: 30px;
    margin-left: 10%;
}

.buyButtonDetails {
    margin-left: 50%;
    margin-top: 5px;
    height: 50px;
    width: 20%;
    color: white;
    border-radius: 10px;
    background-color: #333333;
    border: none;
}

.containerCount {
    margin-top: -70px;
    margin-left: 52%;
    width: 15%;
    padding: 0px;
  }
  
  .addBtnCount{
    background-color: #333333;
      width: 100%;
  }
  
  .borderCount {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .textCount {
    margin-bottom: 0px;
  }
  
  .btnCount {
    margin-left: 50px;
    margin-right: 50px;
    color: blue;
    font-size: 25px;
  }

.finishBtnCount {
  color: white;
  background-color: #333333;
  width: 15%;
  border-radius: 5px;
  border: none;
  margin-left: 52%;
}

  
  